<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LearningTestng">
    <groups>
        <run>
            <include name="high"/>
        </run>
    </groups>
    <listeners>
          <listener class-name="listners.CustomListeners">  </listener>
          <listener class-name="org.uncommons.reportng.HTMLReporter"/>
          <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      </listeners>
      
  <test name="LoginTest">
    <classes>
      <class name="testng.testcase1"/>
    </classes>
  </test> 
  
  
  <test name="Validate Title">
    <classes>
      <class name="testng.testcase2"/>
    </classes>
  </test>
  
  
  <test name="Dependency test">
    <classes>
      <class name="testng.testcase3"/>
    </classes>
  </test>
</suite> 
